---
import { Icon } from "astro-icon/components";
import Logo from "@assets/img/logo_adx.svg";
import NavLoggedUser from "./NavLoggedUser.astro";
import NavLangCurrency from "./NavLangCurrency.astro";
import NavItem from "./NavItem.astro";

const NavItems = [
  { label: "Market", url: "#home" }
  // { label: "My Listing", url: "#my-listing" },
  // { label: "Hot Deals", url: "#hot-deals" }
];
---

<nav data-open="false" id="nav-container" class="group">
  <div
    class="fixed z-50 block h-16 w-full border-b border-gray-200 bg-white !py-0 px-4 group-data-[open=true]:border-b-0 lg:px-4"
  >
    <!-- NAVBAR CONTENT -->
    <div
      class="container mx-auto flex h-full w-full items-center justify-between"
    >
      <!-- DESKTOP LEFT SIDE NAV -->
      <div class="flex items-center gap-6">
        <!-- LOGO -->
        <h1>
          <a href="#home" nav-item>
            <img
              src={Logo.src}
              alt="ADX Logo"
              title="ADX | Transform your Grains & Pulses Shopping Experience"
              width="80"
              loading="eager"
              decoding="sync"
            />
          </a>
        </h1>

        <!-- DESKTOP NAV ITEMS -->
        <ul class="hidden w-fit space-x-6 lg:flex">
          {
            NavItems.map(({ label, url }) => (
              <li>
                <NavItem label={label} url={url} />
              </li>
            ))
          }
        </ul>
      </div>

      <!-- DESKTOP RIGHT SIDE NAV -->
      <div class="hidden items-center gap-4 lg:flex">
        <!-- <NavLoggedUser /> -->
        <NavLangCurrency />
      </div>

      <!-- MOBILE NAV BUTTON -->
      <button class="lg:hidden" aria-label="Menu button" id="nav-button">
        <Icon
          name={"material-symbols:menu-rounded"}
          size={30}
          class="group-data-[open=true]:hidden"
        />
        <Icon
          name={"material-symbols:close"}
          size={30}
          class="hidden group-data-[open=true]:block"
        />
      </button>
    </div>
  </div>

  <!-- MOBILE NAVIGATION -->
  <div
    id="nav-panel"
    class="fadeInLeft 0 fixed bottom-0 left-0 right-0 top-16 z-40 hidden bg-white group-data-[open=true]:block"
  >
    <div class="flex w-full flex-col px-4">
      {NavItems.map(({ label, url }) => <NavItem label={label} url={url} />)}
      <!-- <NavLoggedUser /> -->
      <NavLangCurrency />
    </div>
  </div>
</nav>

<script>
  const navButton = document.getElementById("nav-button");
  const navContainer = document.getElementById("nav-container");
  const navItems = document.querySelectorAll("a[nav-item]");

  navButton?.addEventListener("click", () => {
    if (navContainer) {
      const opened = navContainer?.dataset.open === "true";
      navContainer.dataset.open = opened ? "false" : "true";
    }
  });

  navItems.forEach((nav) => {
    nav.addEventListener("click", () => {
      if (navContainer) {
        navContainer.dataset.open = "false";
      }
    });
  });
</script>
